.m-datatable table {
    background-color: #fff;
    width: 100%;
}

.m-datatable table thead tr th {
    padding: 16px 10px;
    font-weight: 600;
    vertical-align: middle;
    background: #f4f3f8;
    color: #575962;
}

.m-datatable table tbody tr td {
    vertical-align: middle;
    padding: 11px 10px;
    font-size: 1rem;
    color: #575962;
}

.m-datatable table tbody tr:nth-child(even) {
    background: #f7f6fa;
}

.m-datatable .table-summary {
    margin-top: 35px;
    text-align: right;
}

.m-datatable .m-datatable__pager .m-datatable__pager-nav li.active .m-datatable__pager-link {
    background: #716aca;
    color: #ffffff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}
